/* Author: Dharmil Chhadva 
   ID: C0884179
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
  --green: #5ec576;
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
} /* variables*/

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

/* Education */
.education {
  /* margin: 0; */
  padding: 0;
  background-position: center center;
  height: auto; /* Adjust as needed */
  color: var(--black);
  background-color: var(--black);
}

.education-wrapper {
  width: 100%;
  padding: 5%;
}

.education-wrapper h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 30px; /* Adjust as needed */
  color: var(--green);
  margin: 0;
}

.education-line {
  width: 150px;
  height: 3px;
  background: var(--green);
  margin: 0 auto 0 auto; /* Adjust as needed */
}

.card {
  background-color: var(--white);
  color: var(--black);
  border-radius: 20px;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 2em;
}

.card p {
  font-size: 1.1em;
  text-align: justify;
}

.card ul {
  list-style: none;
}

.card ul li::before {
  content: "\2022";
  color: var(--green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.card ul {
  margin-top: 15px;
}

.card ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

/* Certificate */
.certificate {
  /* margin: 0; */
  padding: 0;
  background-position: center center;
  height: auto; /* Adjust as needed */
  color: var(--black);
  background-color: var(--white);
}

.certificate-wrapper {
  width: 100%;
  padding: 5%;
}

.certificate-wrapper h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 30px; /* Adjust as needed */
  color: var(--green);
  margin: 0;
}

.certificate-line {
  width: 150px;
  height: 3px;
  background: var(--green);
  margin: 0 auto 0 auto; /* Adjust as needed */
}

.certificate-card {
  background-color: var(--white);
  color: var(--black);
  border-radius: 20px;
  padding: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.certificate-card h3 {
  font-size: 2em;
}

.certificate-card p {
  font-size: 1.1em;
  text-align: justify;
}

.certificate-card ul {
  list-style: none;
}

.certificate-card ul li::before {
  content: "\2022";
  color: var(--green);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.certificate-card ul {
  margin-top: 15px;
}

.certificate-card ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.certificate-btn {
  padding: 15px;
}

.btn a {
  text-decoration: none;
}

.btn {
  background: var(--black);
  color: var(--white);
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}


/* Responsiveness */
/* the properties inside a media query will be applied to the web page only when the condition set is valid. */
@media (min-width: 768px) {
  .education {
    margin: 0;
    padding: 0;
    background-position: center center;
    height: auto;
    background-color: var(--black);
    color: var(--white);
  }
  .education-wrapper {
    width: 100%;
    margin: 1% auto;
  }
  .education-wrapper h2 {
    text-transform: uppercase;
    /* font-family: poppins; */
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: var(--green);
    margin: 0;
  }

  .education-line {
    width: 150px;
    height: 3px;
    background: var(--green);
    margin: 0 auto 60px auto;
  }

  /* Certificate */
  .certificate {
    margin: 0;
    padding: 0;
    background-position: center center;
    height: auto;
    background-color: var(--white);
    color: var(--black);
  }
  .certificate-wrapper {
    width: 100%;
    margin: 1% auto;
  }
  .certificate-wrapper h2 {
    text-transform: uppercase;
    /* font-family: poppins; */
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: var(--green);
    margin: 0;
  }

  .certificate-line {
    width: 150px;
    height: 3px;
    background: var(--green);
    margin: 0 auto 60px auto;
  }

  .certificate-box a {
    text-decoration: none;
  }

  .btn {
    background: var(--black);
    color: var(--white);
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: var(--green);
    color: var(--white);
    transition: 0.5s ease-in-out;
  }
}
