/* Author: Dharmil Chhadva */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
  --green: #5ec576;
} /* variables*/

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

/* Intro Para */

article {
  width: 100%;
  min-height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 2%;
}

.intro {
  position: relative;
  width: 100%;
  min-height: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.intro-img {
  width: 100%;
  height: 300px;
  background: #fff;
  position: relative;
  opacity: 1;
  transform: translateY(0);
}

.intro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.intro-start {
  width: 100%;
  margin: auto;
  min-height: auto;
  height: auto;
  background: var(--green);
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  opacity: 1;
  transform: translateY(0);
}

.name {
  font-family: "dosis";
  font-size: 32px;
  text-transform: capitalize;
}

.info {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0;
}

.btn-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-box a {
  text-decoration: none;
}

.btn {
  background: var(--white);
  color: var(--green);
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}

/* Intro Para End */

/* What I Do */
.top-skills {
  margin: 0;
  padding: 0;
  background-position: center center;
  height: auto; /* Adjust as needed */
  background-color: #36383f;
}

.top-skills-wrapper {
  width: 100%;
  padding: 5%;
}

.top-skills-wrapper h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 30px; /* Adjust as needed */
  color: var(--green);
  margin: 0;
}

.single-skill {
  position: relative;
  width: 100%;
  height: auto; /* Adjust as needed */
  background: var(--green);
  box-sizing: border-box;
  padding: 0 15px;
  padding-bottom: 15px;
  transition: 0.5s;
  overflow: hidden;
  margin-bottom: 30px; /* Adjust as needed */
  text-align: center;
}

.top-skills-line {
  width: 150px;
  height: 3px;
  background: #fff;
  margin: 0 auto 20px auto; /* Adjust as needed */
}

.single-skill p {
  color: var(--white);
  font-size: 14px;
}

.single-skill h3 {
  font-size: 20px; /* Adjust as needed */
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white);
}

.brand {
  width: 60px;
  height: 60px;
  background: var(--white);
  border-radius: 50%;
  margin: 5% auto;
}

.brand i {
  font-size: 30px;
  padding: 15px;
  color: var(--green);
}

/* What I Do end */

/* All Skills */
.skills-white {
  /* margin: 0; */
  padding: 0;
  background-position: center center;
  height: auto; /* Adjust as needed */
  background-color: var(--white);
}

.skills-white-wrapper {
  width: 100%;
  padding: 5%;
}

.skills-white-wrapper h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 30px; /* Adjust as needed */
  color: var(--green);
  margin: 0;
}

.skills-white-line {
  width: 150px;
  height: 3px;
  background: var(--green);
  margin: 0 auto 0 auto; /* Adjust as needed */
}

/* All Skills End */

/* Blog Start */
.container {
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-top: 15px;
}

.blog,
.sidebar {
  width: 100%;
}

.sidebar ul li {
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  color: var(--green);
  display: block;
  margin-bottom: 2px;
  font-size: 1em;
}

.image {
  display: none;
}

.blog p {
  text-align: justify;
}

/* Blog End */

/* Blog End */

/* Responsiveness */
/* the properties inside a media query will be applied to the web page only when the condition set is valid. */
@media (min-width: 768px) {
  /* Intro Para */

  article {
    width: 100%;
    min-height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .intro {
    position: relative;
    width: 1000px;
    min-width: 350px;
    min-height: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .intro-img {
    width: 40%;
    height: 500px;
    background: #fff;
    position: relative;
    opacity: 0;
    transform: translateY(-50px);
    animation: fade-in 1s forwards 1;
  }

  .intro-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
  }

  .intro-start {
    width: 60%;
    min-height: 500px;
    height: auto;
    background: var(--green);
    padding: 40px;
    display: flex;
    justify-content: center;
    color: var(--white);
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in 1s forwards 1;
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .name {
    font-family: "dosis";
    font-size: 70px;
    text-transform: capitalize;
  }

  .info {
    font-size: 18px;
    line-height: 30px;
    margin: 50px 0;
  }

  .btn-box {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .btn-box a {
    text-decoration: none;
  }

  .btn {
    background: var(--white);
    color: var(--green);
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.5s ease-in-out;
  }

  /* What I Do */
  .top-skills {
    margin: 0;
    padding: 0;
    background-position: center center;
    height: 100vh;
    background-color: #36383f;
    /* font-family: poppins; */
  }
  .top-skills-wrapper {
    width: 1170px;
    margin: 1% auto;
  }
  .top-skills-wrapper h2 {
    text-transform: uppercase;
    /* font-family: poppins; */
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: var(--green);
    margin: 0;
  }
  .single-skill {
    position: relative;
    width: 31%;
    height: 320px;
    background: var(--green);
    box-sizing: border-box;
    padding: 0 15px;
    transition: 0.5s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    text-align: center;
  }
  .top-skills-line {
    width: 150px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
  }
  .single-skill p {
    color: var(--white);
    font-size: 14px;
  }
  .single-skill h3 {
    font-size: 25px;
    text-transform: uppercase;
    /* font-family: poppins; */
    letter-spacing: 1px;
    color: var(--white);
  }
  .brand {
    width: 60px;
    height: 60px;
    background: var(--white);
    border-radius: 50%;
    margin: 5% auto;
  }
  .brand i {
    font-size: 30px;
    padding: 15px;
    color: var(--green);
  }

  /* What I Do End */

  /* All Skills */
  .skills-white {
    margin: 0;
    padding: 0;
    background-position: center center;
    height: auto;
    background-color: var(--white);
  }
  .skills-white-wrapper {
    width: 100%;
    margin: 1% auto;
  }
  .skills-white-wrapper h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: var(--green);
    margin: 0;
  }
  .skills-white-line {
    width: 150px;
    height: 3px;
    background: var(--green);
    margin: 0 auto 60px auto;
  }

  /* Blog Start */
  .container {
    flex-direction: row;
  }

  .blog {
    flex: 2;
    margin-right: 20px;
  }

  .sidebar {
    flex: 1;
  }

  .image {
    object-fit: contain;
    display: block;
    width: auto;
    height: auto;
  }
  /* Blog End */
}
