/* Author: Dharmil Chhadva */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root {
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --green: #5ec576;
} /* variables*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    font-size: 1.5em;
}

ul {
    list-style: none;
}


/* Header */
.header {
    background-color: var(--green);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: relative;
    top: 0;
    width: 100%;
}
/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 30px;
}


/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--green);
    overflow: hidden;

}
.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
    font-weight: 300;
}

.menu a:hover {
    background-color: var(--white);
    color: var(--green);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
    z-index: 1;
}


/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before {
    top: 5px;
}
.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */



/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Footer CSS */
.footer-distributed {
    position: relative;
    left: 0;
    bottom: 0;
    background-color: var(--green);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 50px 50px 60px;
    color: #fff;
}

.footer-distributed .footer-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 40px;
}

.footer-distributed .footer-left a {
    text-decoration: underline !important;
}

.footer-distributed h3 {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 10px;
}

.footer-distributed .footer-links a {
    color: #ffffff;
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    margin-right: 20px;
    /* transition: ease 0.3s; */
}

.footer-distributed .footer-company-name {
    color: var(--white);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 3%;
}

.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.footer-distributed .footer-company-about {
    color: var(--white);
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 6px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 2px;
    font-size: 20px;
    color: var(--green);
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}   





/* Responsiveness */
/* the properties inside a media query will be applied to the web page only when the condition set is valid. */
@media only screen and (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }

    .menu a:hover {
        background-color: var(--white);
        color: var(--green);
    }
    
    .hamb{
        display: none;
    }

    /* Footer CSS */
    .footer-distributed {
        position: relative;
        left: 0;
        bottom: 0;
        background-color: var(--green);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font-size: 14px;
        padding: 50px 50px 60px;
        color: #fff;
    }
    
    .footer-distributed .footer-left {
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    
    .footer-distributed h3 {
        color: #ffffff;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0 0 10px;
    }
    
    .footer-distributed .footer-links a {
        color: #ffffff;
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        margin-right: 20px;
        /* transition: ease 0.3s; */
    }
    
    .footer-distributed .footer-company-name {
        color: var(--white);
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        padding-top: 3%;
    }
    
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 40px;
    }
    
    .footer-distributed .footer-company-about {
        color: var(--white);
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 6px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: var(--white);
        border-radius: 2px;
        font-size: 20px;
        color: var(--green);
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }   
}


